<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="org.jenkinsci.plugins.multiplescms.MultiSCM" plugin="multiple-scms@0.6">
    <scms>
      <hudson.plugins.git.GitSCM plugin="git@2.4.4">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <url>{BASEPROJECT_REPOSITORY}</url>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>*/{BASEPROJECT_BRANCH}</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="list"/>
        <extensions>
          <hudson.plugins.git.extensions.impl.WipeWorkspace/>
        </extensions>
      </hudson.plugins.git.GitSCM>
      <hudson.plugins.git.GitSCM plugin="git@2.4.4">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <url>{TESTPROJECT_REPOSITORY}</url>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>*/{TESTPROJECT_BRANCH}</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="list"/>
        <extensions>
          <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
            <!--Sub directory name-->
            <relativeTargetDir>{SUBDIRECTORY_NAME}</relativeTargetDir>
          </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        </extensions>
      </hudson.plugins.git.GitSCM>
    </scms>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/sh
mkdir ./result
/usr/local/bin/run_test $JOB_NAME
/usr/local/bin/run_diff --diff 	&quot;java -jar \
/usr/local/bin/whatswrong_command-1.0.0-jar-with-dependencies.jar --type CONLL2006 \
--output compare&quot; result/pred.conll $JOB_NAME --compare stable
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.plot.PlotPublisher plugin="plot@1.9">
      <plots>
        <hudson.plugins.plot.Plot>
          <title>category_accuracy</title>
          <yaxis>Accuracy</yaxis>
          <series>
            <hudson.plugins.plot.XMLSeries>
              <file>result/eval.xml</file>
              <label></label>
              <fileType>xml</fileType>
              <xpathString>/root/category_accuracies/*</xpathString>
              <url></url>
              <nodeTypeString>NODESET</nodeTypeString>
            </hudson.plugins.plot.XMLSeries>
          </series>
          <group>category_accuracy</group>
          <numBuilds>5</numBuilds>
          <csvFileName>868237060.csv</csvFileName>
          <csvLastModification>0</csvLastModification>
          <style>line</style>
          <useDescr>false</useDescr>
          <keepRecords>false</keepRecords>
          <exclZero>false</exclZero>
          <logarithmic>false</logarithmic>
        </hudson.plugins.plot.Plot>
        <hudson.plugins.plot.Plot>
          <title>dependency_accuracies</title>
          <yaxis></yaxis>
          <series>
            <hudson.plugins.plot.XMLSeries>
              <file>result/eval.xml</file>
              <label></label>
              <fileType>xml</fileType>
              <xpathString>/root/dependency_accuracies_against_CCGBank_dependency/*</xpathString>
              <url></url>
              <nodeTypeString>NODESET</nodeTypeString>
            </hudson.plugins.plot.XMLSeries>
          </series>
          <group>dependency_accuracies</group>
          <numBuilds>5</numBuilds>
          <csvFileName>580920133.csv</csvFileName>
          <csvLastModification>0</csvLastModification>
          <style>line</style>
          <useDescr>false</useDescr>
          <keepRecords>false</keepRecords>
          <exclZero>false</exclZero>
          <logarithmic>false</logarithmic>
        </hudson.plugins.plot.Plot>
      </plots>
    </hudson.plugins.plot.PlotPublisher>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>result/**,output/**,compare/**</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>